.ex-1-square {
    transition: linear 2s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition: 1s;
}

.ex-2-square:active {
    width: 300px;
}

.ex-3-square {
    transition: 1s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    animation-name: nomore;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes nomore {
    from {opacity: 1;}
    to {opacity: 0;}
}

.ex-5-square {
    transition: 0.5s;
}

.ex-5-square:hover {
    width: 80px;
    height: 80px;
}

.ex-5-square:active {
    width: 40px;
    height: 40px;
}

.ex-6-img {
    transition: 0.5s;
}

.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img:hover {
    animation-name: greyblur;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes greyblur {
    0% {filter: none; }
    25% {filter: grayscale(1);}
    25% {filter: blur(0.4px) grayscale(1);}
    100% {filter: blur(1.4px) grayscale(1);}
}



